#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 95vh;
    border-radius: .7rem;
    border: 3px solid rgb(0, 0, 0);
}

@media screen and (max-width:524px) {
    #canvas1 {
        width: 98%;
        height: 95vh;
    }
}